html, body{
    font-family: 'Inter'!important;
    scroll-behavior: smooth;
}
/* header */
.header{
    position: fixed;
    top:0;
    z-index: 4;
    height: 60px;
    background-color: white;
}
.bi-list{
    display: none;
}
#cta{
    padding: 30px 30px 20px 30px;
    background: #004FEE;
    bottom: 0;
    min-width: 30%;
    margin-top: 0;
    float: right;
    margin-left: 0px!important;
}
#cta h6 a{
    color: white;
}
#cta h6 a:hover{
    text-decoration: none;
}
.navigation{
    height: 60px;
    padding-top: 10px;
}
.item-top{
font-weight: 600;
padding-right: 10px;
font-size: 0.85rem;
cursor: pointer;

}
.item-top:hover{
    color: #004FEE;
}
.extranet-item{
    font-weight:600;
padding-right: 10px;
font-size: 1.05rem;
cursor: pointer;
}
.extranet-item:hover{
    text-decoration: underline;
}
.right-nav{
    font-weight: 800;
}
.bi-search{
    float: right;
}
.item-top:first-child{
    padding-left: 40px;
}
.logo{
    background: url('http://acer.europa.eu/sites/default/files/acer_logo_mobile.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.logo-footer{
    background: url('http://acer.europa.eu/sites/default/files/styles/max_325x325/public/images/footer/acer_logo_footer_0.png?itok=X3k5pp9v');
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 10vh;
}
.footer-column{
    margin-top: 5vh;
}
/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #E8E8E8; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #004FEE; 
  }
  /* scrollbar */
body{
    position: relative;
}
#spy{
    position: fixed;
}
.hero-left{
    margin-top: 5vh;
    /* border-top: 1px solid black; */
    padding: 10px 40px 5px 40px;
}
.suptitle{
    margin: 10px 0 0px 0 ;
    font-weight: 300;
}
.hero-text{
    font-weight: 300;
    font-size: 3.1rem;
}
.hero-description{
    font-size: 1.2rem;
    font-weight: 300;
}
.landing-left-panel{
    background-color: #FEEA70;
    bottom: 0;
    padding-right: 0px!important;
}
.sm-icon-footer{
    height: 54px;
    width: 54px;
    cursor: pointer;
    margin: 1px;
    border: 1px solid #004fee!important;
    color: #004fee!important;
    background-color: transparent!important;
}
.sm-icon-footer:hover{
    background-color: #004fee!important; 
    color: white!important;

}
.subscribe{
    padding: 20px 30px 20px 30px!important;
    background-color: #004fee!important; 
    border-radius: 0px!important;
}
.subscription{
    border-right: 1px solid #000;
}
.sub-content{
    padding-left: 50px!important;
}
.sm-icon{
    height: 54px;
    width: 54px;
    cursor: pointer;
    margin-right: 15px;
}
.sm-icon:nth-child(2){
    margin-left: 10px;
}
.landing-right-panel{
    background: url('https://images.unsplash.com/photo-1539186607619-df476afe6ff1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}
.land, .landing{
    min-height: calc(100vh - 15px);
}
.landing{
    min-height: calc(100vh - 15px);

    max-width: 1920px;
}

.sector{
    margin-top: 10vh;
    font-size: 14px;
}
.covid-upper{
    background-color: #E8E8E8;
    padding: 1.2rem;
}
.sector-head{
    font-weight: 500;
    font-size: 2.7rem;
    padding-top: 30px;
}
.sector-child{
    border-top: 1px solid black;
}
#electricity-chart-one{
    min-width: 300px;
    min-height: 250px;
}
#electricity-chart-two{
    min-width: 300px;
    min-height: 250px;
}
#renewable-chart{
    min-width: 300px;
    min-height: 400px;
}
#retail-chart{
    min-width: 300px;
    min-height: 70vh;
}
#retail-chart-gs{
    min-width: 300px;
    min-height: 70vh;
}
.sector-grid-title{
    font-weight: 300;
    font-size: 1.8rem;
}
.hub-titles{
    margin-bottom: 2vh;
}
.hover-answer{
    display: none;
    position: fixed;
    min-height: 30%;
    background-color: #E8E8E8;
    font-size: 0.8rem;
    font-weight: 300;
    min-width: 40%;
    max-width: 60%;
    z-index: 100;
    padding: 30px;
}
.hover-answer::before{
    min-width: 100%;
    max-width: 100%;
    position: absolute;
    top:0;
    margin-top: -20px;
    left: 0;
    content: 'click anywhere on the box to close';
    padding: 10px;
    color: white;
    font-weight: 300;
    background-color: #004FEE;
}
.answer{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    min-height: 30%;
    background-color: #E8E8E8;
    font-size: 0.8rem;
    font-weight: 300;
    min-width: 30%;
    max-width: 40%;
    z-index: 100;
    padding: 30px;
}
.answer::before{
    min-width: 100%;
    max-width: 100%;
    position: absolute;
    top:0;
    margin-top: -20px;
    left: 0;
    content: 'click anywhere on the box to close';
    padding: 10px;
    color: white;
    font-weight: 300;
    background-color: #004FEE;
}
.gas-ill, .electricity-ill{
    padding: 40px;
}
.open-toggle{
    display: inline;
    font-size: 1.3rem;
}
#gas-chart{
    min-height: 500px;
}
#el-markup-chart{
    min-height: 350px;
    
}
#gas-markup-chart{
    min-height: 350px;

}
div.google-visualization-tooltip {
	margin: 0;
	padding: 5px 0px 0px 5px;
    color:#444;
    background-color:white;
    border: 0px;
    border-radius:5px;
    -webkit-box-shadow: 6px 5px 20px -5px rgba(25,25,25,0.75); 
    box-shadow: 6px 5px 20px -5px rgba(25,25,25,0.75);
}
.hub-title{
    font-weight: 300;
    font-size: 1rem;
}
/* #geochart-dom{
    min-height: 80vh;
}
#geochart-dom > svg{
    height: 100%;
    width: 100%;
} */
.hub > ul > li{
    font-size: 0.9rem;
}
.hub-a{
    border-left: 1px solid blue;
}
.hub{
    transition: cubic-bezier(0.215, 0.610, 0.355, 1);}
.hub:hover{
    border-left: 4px solid blue;
}
.electricity-highlight{
    background-color: #FEEA70;
}
.gas-highlight{
    background-color: #9BE6FD;
}
.retail-highlight{
    background-color: #81F39C;
}
.highlight-general{
    font-weight: 600;
}
.sector-sub-head{
    font-weight: 400;
    font-size: 1.8rem;
    padding-top: 0;
}
.role:before {
    position: absolute;
    content: '';
    border-top: 1px solid black;
    width: 95%;
    transform: translateX(-50%);
    top: -5px;
    left: 50%;
  }

  .chart-disclaimer{
      font-size: 12px;
  }
  .renewable-ill > svg{
      max-height: 50vh;
      padding-top: 5vh;
  }
  .electricity-ill >svg{
    max-height: 40vh;
  }
  #retail-ill{
    max-height: 35vh;
  }
.last-head{
    padding-top: 0;
    margin-top: 0;
}
.doc-link{
    color: #004FEE;
}
.right-img{
    max-width: 100%;
    min-height: 50vh;
    background: url('https://images.unsplash.com/photo-1452179535021-368bb0edc3a8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80');
    background-size: cover;
    background-repeat: no-repeat;

}
.abax-ill >svg{
    padding: 4rem;
}
.headtable th{
        background-color: #E8E8E8;
        border-top: 1px solid black!important;
        border-bottom: 1px solid black!important;
        font-weight: 500;


}
.general-icon{
background: url('http://acer.europa.eu/themes/custom/acer/img/box-General.svg');
background-repeat: no-repeat;
background-position: center;

}
.sector-box-last{
    padding-left: 30px
}
.table{
    border: 1px solid black;
}
.last-title{
    margin-top: 4vh;
}
.foreword-img{
    width: 100%;
    min-height: 50vh;
        background: url('https://images.pexels.com/photos/4792509/pexels-photo-4792509.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}
.retail-img{
width: 100%;
min-height: 50vh;
    background: url('https://images.unsplash.com/photo-1576271362513-0fc8bae5058e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.gas-img{
    max-width: 100%;
min-height: 60vh;
    background: url('https://images.unsplash.com/photo-1542274368-443d694d79aa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=802&q=80');
    background-size: cover;
    background-repeat: no-repeat;

}
.secondary::before{
    content: '↓';
    margin-right: 10px;
}
.tooltip-description{
    border-top: 1px solid #000;
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
.role > h1{
    font-weight: 400;
    font-size: 1.4rem;
    margin-top: 1vh;
}
.info{
    color: #004FEE;
    cursor: pointer;
}
.disclaimer{
    border-top: 1px solid black;

}
.disclaimer:first-child{
    margin-top: 5vh;
}
.summary{
    padding: 20px;
}
.summary > * {
    margin-top: 2vh;
}
.role-sector{
    margin-top: 15vh;
}

.last{
    background-color: #E8E8E8;
    height: auto;
    padding-bottom: 2vh;
}
.copy{
    height: 50px;
    background-color: #004FEE;
    color: white;
    font-size: 13px;
}
.copy p {
    padding-top: 15px
}
.sector-last{
    padding-top: 5vh;
}
.doc-link-cont{
    margin-top: 3vh;
}
.summary-retail{
    background-color: #81F39C;
}
.summary-electricity{
    background-color: #FEEA70;
}
.summary-gas{
    background-color: #9BE6FD;
}
.summary-covid{
    background-color: #E8E8E8;
}
.margin-x-large{
    margin-top: 20vh;
}
.margin-large{
    margin-top: 15vh;
}
.margin-medium{
    margin-top: 10vh;
}
.margin-small{
    margin-top: 5vh;
}
.geolegend{
    margin-bottom: 10px;
}
.established, .advanced, .iliquid, .emerging{
    font-size: 0.8rem;
}
.established::before{
    content: '';
    margin-left: 10px;

    margin-right: 2px;
    padding: 0px 8px 0px 8px;
    background-color: #004FEE;
}
.advanced::before{
    content: '';
    margin-right: 2px;
    margin-left: 10px;

    padding: 0px 8px 0px 8px;
    background-color: #75A3FF;
}
.emerging::before{
    content: '';
    margin-right: 2px;
    margin-left: 10px;

    padding: 0px 8px 0px 8px;
    background-color: #9BE6FD;
}
.iliquid::before{
    content: '';
    margin-right: 2px;
    margin-left: 10px;
    padding: 0px 8px 0px 8px;
    background-color: #CAF1FC;
}
/* media queries */

@media only screen and (max-width: 600px) {
    .hero-text {
        font-size: 2rem;
    }
    .hero-description{
        font-size: 0.8rem;
    }
    .sector-head{
        font-size:2.5rem
    }.answer{
        max-width: 100%;
    }
    .sub-content{
        padding-left: 10px!important;
    }
    .copy{
        height: 80px;
    }
  }
  @media only screen and (max-width: 1200px) {
    .logo{
        height: 30px;
    }
    .disclaimer:last-child{
        border: none;
    }
    .subscription{
        border: none;
    }

  .items, .bi-search, .extranet-item{
    display: none;
}
.bi-list{
    display: block;
    font-size: 1.6rem;
    margin-left: auto;
    margin-top: -45px;
}
  }